#main{
    margin-bottom: 4rem;
}

#titlediv h1{
    text-align: center;
}

#titlediv{
    height: 20vh;
    color: var(--white);
    width: 100%;
    background-color: var(--black);
    border-radius: var(--borderradius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 4rem 6rem 4rem;
    margin-bottom: 4rem;
}

#title{
    font-size: 3rem;
}

#textarea{
    margin-inline: 2rem;
}

#textarea h2{
    margin-bottom: 1rem;
}

#textarea h2:not(:first-child){
    margin-top: 3rem;
}

#textarea h3{
    margin-bottom: 1rem;
}

#textarea h3:not(:first-child){
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {

    #titlediv{
        height: 40vh;
        border-radius: 0px;
        padding: 12rem 4rem 6rem 4rem;
    }

}