#footer{
    color: var(--white);
    background-color: var(--black);
    border-radius: 20px 20px 0px 0px;
    padding: 4rem 5rem 3rem 5rem;
}

#firstfooter{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid 1px var(--white);
}

#logofootercontainer{
    width: 25%;
}

#logofootercontainer p{
    font-weight: 500;
}

#firstfooter img{
    width: 50%;
    height: auto;
    margin-bottom: 3vh;
}

#footermenu p, #footercontact p{
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.infolist li{
    list-style-type: none;
}

.infolist li:not(:last-child){
    margin-bottom: 1rem;
}

#socialmedias{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#secondfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

#secondfooter p{
    margin: 0;
}

#secondfooter ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#secondfooter li:not(:last-child){
    margin-right: 5rem;
}

@media screen and (max-width: 767px) {
    #firstfooter{
        text-align: center;
        align-items: center;
        justify-content: center;
        row-gap: 4rem;
        padding-bottom: 2rem;
    }

    #logofootercontainer{
        width: 100%;
    }

    #logofootercontainer p{
        margin-bottom: 0rem;
    }

    #footermenu{
        width: 100%;
    }

    #footercontact{
        width: 100%;
    }

    #secondfooter{
        text-align: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #secondfooter ul{
        width: 100%;
        margin-bottom: 2rem;
    }
}