#herosection{
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--borderradius);
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#herosection *{
    z-index: 1;
}

#herosection h1{
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1% 2%;
    border-radius: 50px;
}

#heroquote{
    font-size: 5rem;
    font-weight: 500;
    line-height: 6.25rem;
    margin-bottom: 2rem;
}

#herodescription{
    font-size: 1.25rem;
    line-height: 2.35rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

#decorativeround{
    position: absolute;
    z-index: 0;
    width: 35vw;
    height: auto;
    aspect-ratio: 1/1;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}

#presentationsection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#expertises{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 3%;
}

.expertise{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3%;
    margin-bottom: 12.5vh;
}

.expertise img{
    width: 15%;
    height: auto;
    margin-bottom: 1.5rem;
}

.expertise h3{
    margin-bottom: 25%;
}

.expertise p{
    margin-bottom: 0;
}

#realisationssection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 12.5vh;
}

#realisationsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, var(--orange) 0%, var(--black) 30%);
    border-radius: var(--borderradius);
    width: 90%;
    padding: 4% 0%;
}

#slider{
    width: 90%;
    display: flex;
}

#slides{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.slide{
    aspect-ratio: 16/6;
    border-radius: var(--borderradius);
}

.slide:not(:first-child){
    margin-bottom: -20%;
}

#vertuespresentationsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#vertuespresentationsection h3{
    margin-bottom: 0.5rem;
}

#vertuespresentationsection p{
    margin-bottom: 2rem;
}

#vertuespresentation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}

#vertues{
    width: 60%;
}

#freelancepresentation{
    color: var(--white);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3%;
    background-color: var(--black);
    border-radius: var(--borderradius);
}

#freelancepresentation p{
    margin-bottom: 0rem;
}

#clientsection{
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#reviewsection{
    width: 90%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#pricesection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#offers{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 3%;
    margin-bottom: 5vh;
}

.offer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3%;
}

.offer h3, #formationoffers h3{
    font-size: 1.3rem;
}

.offerprice{
    font-size: 0.75rem;
    margin: 3rem 0rem;
}

.offerprice span{
    font-size: 3rem;
    line-height: 3rem;
}

.offer ul{
    list-style-type: none;
}

.offer li{
    font-weight: 500;
    line-height: 1.75rem;
}

.offer li::before{
    content: 'i';
    margin-right: 10px;
}

.offer li:not(:last-child){
    margin-bottom: 1.75rem;
}

#formationoffers{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3% 7.5%;
}

#formationduo{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#formationduo ul{
    text-align: start;
    list-style-type: none;
}

#formationduo li:not(:last-child){
    margin-bottom: 1.75rem;
}

#ctasection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#faqsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}