#herosection{
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--borderradius);
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#herosection *{
    z-index: 1;
}

#herosection h1{
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1% 2%;
    border-radius: 50px;
}

#heroquote{
    font-size: 5rem;
    font-weight: 500;
    line-height: 6.25rem;
    margin-bottom: 2rem;
}

#herodescription{
    font-size: 1.25rem;
    line-height: 2.35rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

#decorativeround{
    position: absolute;
    z-index: 0;
    width: 35vw;
    height: auto;
    aspect-ratio: 1/1;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}

#presentationsection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#expertises{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 3%;
}

.expertise{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3%;
    margin-bottom: 12.5vh;
}

.expertise img{
    width: 15%;
    height: auto;
    margin-bottom: 1.5rem;
}

.expertise h3{
    margin-bottom: 25%;
}

.expertise p{
    margin-bottom: 0;
}

#realisationssection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 12.5vh;
}

#realisationssection h2{
    margin-bottom: 3.5rem;
}

#realisationsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: var(--borderradius);
    width: 90%;
    padding: 4% 0%;
}

#realisationsgrid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 7.5%;
    grid-row-gap: 5rem;
}

#realisationsgrid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#realisationsgrid div img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: solid 1px rgb(100%, 100%, 100%, 0.25);
    margin-bottom: 1rem;
}

#realisationsgrid div h3{
    margin-bottom: 0.5rem;
}

#realisationsgrid div p{
    margin-bottom: 0rem;
}

#realisation1 {
    grid-area: 1 / 1 / 2 / 2;
}

#realisation2 {
    grid-area: 1 / 2 / 2 / 3;
}

#realisation3 {
    grid-area: 1 / 3 / 2 / 4;
}

#realisation4 {
    grid-area: 2 / 1 / 3 / 2;
}

#realisation5 {
    grid-area: 2 / 2 / 3 / 3;
}

#realisation6 {
    grid-area: 2 / 3 / 3 / 4;
}

#slider{
    width: 90%;
    display: flex;
}

#slides{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.slide{
    aspect-ratio: 16/6;
    border-radius: var(--borderradius);
}

.slide:not(:first-child){
    margin-bottom: -20%;
}

#vertuespresentationsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#vertuespresentationsection h3{
    margin-bottom: 0.5rem;
}

#vertuespresentationsection p{
    margin-bottom: 2rem;
}

#vertuespresentation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}

#vertues{
    width: 60%;
}

#freelancepresentation{
    color: var(--white);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3%;
    background-color: var(--black);
    border-radius: var(--borderradius);
}

#freelancepresentation p{
    margin-bottom: 0rem;
}

#clientsection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#clientslider{
    background-color: var(--white);
    width: 90%;
}

#reviewsection{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5%;
    padding: 0% 5%;
    margin-bottom: 12.5vh;
}

#review{
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3%;
}

#review p{
    margin-bottom: 0rem;
}

#reviewinfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2%;
    margin-bottom: 1rem;
}

#reviewimage{
    width: 7.5%;
}

#reviewsection img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#reviewtextinfo h3{
    margin-bottom: 0.5rem;
}

#reviewtextinfo h4{
    font-weight: 500;
    font-style: italic;
}

#pricesection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12.5vh;
}

#offers{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#weboffer{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3%;
}

#weboffer h3, #formationoffers h3{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#weboffercontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    margin-bottom: 2rem;
}

.weboffer{
    width: 33%;
}

.offerprice{
    font-size: 0.75rem;
    margin: 1rem 0rem;
}

.offerprice span{
    font-size: 3rem;
    line-height: 3rem;
}

#weboffer ul, #formationoffers ul{
    list-style-type: none;
}

#weboffer li, #formationoffers li{
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}

#weboffer li:last-child{
    margin-bottom: 2rem;
}

#formationoffers{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3% 7.5%;
}

#formationoffers h3{
    margin-bottom: 0rem;
}

#qualiopi{
    margin: 3rem 0rem 1rem 0rem;
}

#logoformation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#logoformation img{
    width: 20%;
    height: auto;
}

#ctasection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#faqsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}