#herosection{
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--borderradius);
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
    padding: 15rem;
}

#herosection *{
    z-index: 1;
}

#herosection h1{
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1rem 2rem;
    border-radius: 50px;
}

#heroquote{
    font-size: 5rem;
    font-weight: 500;
    line-height: 6.25rem;
    margin-bottom: 2rem;
}

#herodescription{
    font-size: 1.25rem;
    line-height: 2.35rem;
    font-weight: 400;
    padding: 0rem 10rem;
    margin-bottom: 0rem;
}

#decorativeround{
    position: absolute;
    z-index: 0;
    width: 35vw;
    height: auto;
    aspect-ratio: 1/1;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}

#presentationsection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#expertiseslider{
    width: 90%;
    overflow: hidden;
}

#expertises{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.expertise{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem;
    margin-bottom: 7rem;
}

.expertise img{
    width: 3rem;
    height: auto;
    margin-bottom: 1.5rem;
}

.expertise h3{
    margin-bottom: 4rem;
}

.expertise p{
    margin-bottom: 0;
}

#realisationssection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 7rem;
}

#realisationssection h2{
    margin-bottom: 3.5rem;
}

#realisationsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: var(--borderradius);
    width: 90%;
    padding: 4rem 0%;
}

#realisationsgrid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
}

#realisationsgrid div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#realisationsgrid div img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: solid 1px rgb(100%, 100%, 100%, 0.25);
    margin-bottom: 1rem;
}

#realisationsgrid div h3{
    margin-bottom: 0.5rem;
}

#realisationsgrid div p{
    margin-bottom: 0rem;
}

#realisation1 {
    grid-area: 1 / 1 / 2 / 2;
}

#realisation2 {
    grid-area: 1 / 2 / 2 / 3;
}

#realisation3 {
    grid-area: 1 / 3 / 2 / 4;
}

#realisation4 {
    grid-area: 2 / 1 / 3 / 2;
}

#realisation5 {
    grid-area: 2 / 2 / 3 / 3;
}

#realisation6 {
    grid-area: 2 / 3 / 3 / 4;
}

#vertuespresentationsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#vertuespresentationsection h3{
    margin-bottom: 0.5rem;
}

#vertuespresentationsection p{
    margin-bottom: 2rem;
}

#vertuespresentation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 10rem;
}

#vertues{
    width: 60%;
}

#freelancepresentation{
    color: var(--white);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
    background-color: var(--black);
    border-radius: var(--borderradius);
}

#freelancepresentation p{
    margin-bottom: 0rem;
}

#reviewsection{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
    padding: 0rem 4.5rem;
    margin-bottom: 7rem;
}

#review{
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem;
}

#review p{
    margin-bottom: 0rem;
}

#reviewinfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2%;
    margin-bottom: 1rem;
}

#reviewimage{
    width: 4rem;
}

#reviewsection img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#reviewtextinfo h3{
    margin-bottom: 0.5rem;
}

#reviewtextinfo h4{
    font-weight: 500;
    font-style: italic;
}

#pricesection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
}

#offers{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#weboffer{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem;
}

#weboffer h3, #formationoffers h3{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#weboffercontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.weboffer{
    width: 33%;
}

.offerprice{
    font-size: 0.75rem;
    margin: 1rem 0rem;
}

.offerprice span{
    font-size: 3rem;
    line-height: 3rem;
}

#weboffer ul, #formationoffers ul{
    list-style-type: none;
}

#weboffer li, #formationoffers li{
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}

#weboffer li:last-child{
    margin-bottom: 2rem;
}

#formationoffers{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem 7.5rem;
}

#formationoffers h3{
    margin-bottom: 0rem;
}

#qualiopi{
    margin: 3rem 0rem 1rem 0rem;
}

#logoformation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#logoformation img{
    width: 20%;
    height: auto;
}

#ctasection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#faqsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

@media screen  and (max-width: 767px) {
    #herosection{
        height: 70vh;
        padding: 0rem;
        border-radius: 0px;
        margin-bottom: 5rem;
    }

    #heroquote{
        font-size: 3rem;
        line-height: 4rem;
    }

    #herodescription{
        padding: 0rem 5rem;
    }

    #decorativeround{
        width: 75vw;
    }

    .expertise{
        min-width: 100%;
    }

    #expertises{
        flex-wrap: wrap;
    }

    .expertise:not(:last-child){
        margin-bottom: 2rem;
    }

    #realisationsgrid{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 3rem;
    }

    #realisation1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #realisation2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #realisation3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    #realisation4 {
        grid-area: 4 / 1 / 5 / 2;
    }
    
    #realisation5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    #vertuespresentation{
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2rem;
    }
    
    #vertues{
        width: 100%;
    }
    
    #freelancepresentation{
        width: 100%;
        height: 40vh;
    }

    #reviewsection{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 3rem;
        padding: 0rem 1.5rem;
    }

    #reviewsection h2{
        text-align: center;
        margin-bottom: 0rem;
    }

    #offers{
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    #weboffer{
        width: 100%;
    }

    #formationoffers{
        width: 100%;
        padding: 3rem;
    }

    #weboffercontainer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
    }
}