#herosection{
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--borderradius);
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
    padding: 15rem;
}

#herosection *{
    z-index: 1;
}

#herosection h1{
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1rem 2rem;
    border-radius: 50px;
}

#heroquote{
    font-size: 5rem;
    font-weight: 500;
    line-height: 6.25rem;
    margin-bottom: 2rem;
}

#herodescription{
    font-size: 1.25rem;
    line-height: 2.35rem;
    font-weight: 400;
    padding: 0rem 10rem;
    margin-bottom: 0rem;
}

#decorativeround{
    position: absolute;
    z-index: 0;
    width: 35vw;
    height: auto;
    aspect-ratio: 1/1;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}

#presentationsection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#presentationparagraph{
    margin-inline: 10rem;
}

#expertiseslider{
    width: 90%;
    overflow: hidden;
}

#expertises{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}

.expertise{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem;
    margin-bottom: 7rem;
}

.expertise img{
    width: 3rem;
    height: auto;
    margin-bottom: 1.5rem;
}

.expertise h3{
    margin-bottom: 4rem;
}

.expertise p{
    margin-bottom: 0;
}

#definitionsection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 7rem;
}

#definitiondiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    background-color: var(--black);
    border-radius: var(--borderradius);
    width: 90%;
    padding: 4rem;
}

#titlediv{
    width: 40%;
}

#titlediv h2{
    margin: 0rem;
}

#paragraphediv{
    width: 60%;
}

#paragraphediv p{
    margin: 0rem;
}

#vertuespresentationsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#vertuespresentationsection h3{
    margin-bottom: 0.5rem;
}

#vertuespresentationsection p{
    margin-bottom: 2rem;
}

#vertuespresentation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 10rem;
}

#vertues{
    width: 60%;
}

#freelancepresentation{
    position: relative;
    color: var(--white);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
    background-color: var(--black);
    border-radius: var(--borderradius);
    overflow: hidden;
}

#freelancepresentation img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#overlaypresentation{
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,17,17,0) 25%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#freelancepresentation h3{
    z-index: 2;
}

#freelancepresentation p{
    z-index: 2;
    margin-bottom: 0rem;
}

#pricesection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
}

#offers{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#weboffer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem;
}

#weboffer h3, #formationoffers h3{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#weboffercontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.weboffer{
    width: 33%;
}

.offerprice{
    font-size: 0.75rem;
    margin: 1rem 0rem;
}

.offerprice span{
    font-size: 3rem;
    line-height: 3rem;
}

#weboffer ul, #formationoffers ul{
    list-style-type: none;
}

#weboffer li, #formationoffers li{
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 1.5rem;
}

#weboffer li:last-child{
    margin-bottom: 2rem;
}

#formationoffers{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--borderradius);
    padding: 3rem 7.5rem;
}

#formationoffers h3{
    margin-bottom: 0rem;
}

#qualiopi{
    margin: 3rem 0rem 1rem 0rem;
}

#logoformation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#logoformation img{
    width: 20%;
    height: auto;
}

#ctasection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

#faqsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12.5vh;
}

#faqsection h2{
    text-align: center;
}

.question{
    width: 80%;
    background-color: var(--white);
    padding: 3rem;
    border-radius: var(--borderradius);
}

.question h3{
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}

.question:not(:last-child){
    margin-bottom: 1rem;
}

.question input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

#questionlabel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#questionlabel svg{
    height: 1rem;
    width: auto;
    transform: rotate(180deg);
}

.question input[type="checkbox"]:checked ~ #questionlabel svg {
    transform: rotate(90deg);
}

.answer{
    display: none;
    margin: 2rem 0rem 0rem 0rem;
}

.question input[type="checkbox"]:checked ~ .answer {
    display: block;
}

#pilierlist{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-left: 3rem;
}

@media screen  and (max-width: 767px) {
    #herosection{
        height: 70vh;
        padding: 0rem;
        border-radius: 0px;
        margin-bottom: 5rem;
        justify-content: flex-end;
        padding-bottom: 6rem;
    }

    #heroquote{
        font-size: 3rem;
        line-height: 4rem;
    }

    #herodescription{
        padding: 0rem 5rem;
    }

    #decorativeround{
        width: 75vw;
        margin-bottom: 2.5rem;
    }

    #presentationparagraph{
        margin-inline: 2rem;
    }

    .expertise{
        min-width: 100%;
    }

    #expertises{
        flex-wrap: wrap;
    }

    .expertise:not(:last-child){
        margin-bottom: 2rem;
    }

    #vertuespresentation{
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2rem;
    }
    
    #vertues{
        width: 100%;
    }
    
    #freelancepresentation{
        width: 100%;
        height: 40vh;
        padding: 2rem;
    }

    #freelancepresentation img{
        width: 100%;
        height: auto;
        top: -40px;
    }

    #reviewsection{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 3rem;
        padding: 0rem 1.5rem;
    }

    #reviewsection h2{
        text-align: center;
        margin-bottom: 0rem;
    }

    #offers{
        width: 90%;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    #weboffer{
        width: 100%;
    }

    #formationoffers{
        width: 100%;
        padding: 3rem;
    }

    #weboffercontainer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
    }

    .question{
        padding: 2rem;
    }

    #definitiondiv{
        flex-wrap: wrap;
    }

    #titlediv{
        width: 100%;
        margin-bottom: 3rem;
    }
    
    #paragraphediv{
        width: 100%;
    }
}